@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700);

h1, h2, h3, p {
   font-family: 'Open Sans', 'sans-serif'; 
}

#nav{
    font-family: 'Open Sans', 'sans-serif';
    font-weight:300;
}
#footer, #footer-danke{
    font-family: 'Open Sans', 'sans-serif';
    font-weight:600;
    color:#FFF;
    letter-spacing:2px;
}